<header>
  

    <!-- Main Menu Start -->
   
    <div class="site-navigation " id="mainmenu-area">
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                    Effective software testing, Maurício Aniche

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="fa fa-bars"></span>
                </button>

                <!-- Collapse -->
                <div class="collapse navbar-collapse" id="navbarMenu">
                    <ul class="navbar-nav ml-auto">

                        <li class="nav-item ">
                            <a href="/" class="nav-link">
                                Home
                            </a>
                        </li>
                        <li>
                                                        <a href="https://www.manning.com/books/effective-software-testing?utm_source=aniche&utm_medium=affiliate&utm_campaign=book_aniche_effective_11_16_21&a_aid=aniche&a_bid=6e66ba23" class="btn btn-main">
                                Buy this book now!
                            </a>
                        </li>
                        
                    </ul>
                </div> <!-- / .navbar-collapse -->


            </div> <!-- / .container -->
        </nav>
    </div>
</header>